In [42]:
import numpy as np 
import pandas as pd 
import re

In [107]:
import spacy 
from spacy import displacy
nlp = spacy.load('en_core_web_sm')

Import and Clean Data

In [23]:
data = pd.read_csv('./data/us-train-dataset.csv')
addresses = data.iloc[:, 0]
addresses

0      19 ST ANDREW ST, BULRINGTON, VT, 05401,, Unite...
1      2574 EAST 23RD STREE, CHATTANOOGA, TN 37404, U...
2      5931 W ANGELA RD, MEMPHIS, TN 38120, United St...
3      3812 MYERS STREET, GREENEVILLE, TN 37743, Unit...
4      HWY 33 BY-PASS BOX, DYERSBURG, TN 38024, Unite...
                             ...
115    4520 Mount Olive Highway, Bldg 5, Ste 3321,,,7...
116    202 Sleepy Hollow Pkwy Bldg 2101 Ste 201,ATHEN...
117    Berger Bldg 6 Hamlin Ln Dept RB08,MIDDLE ISLAN...
118    5524 Elmore Ave Bldg 266,PHILADELPHIA,PA,19146...
119    1172 Hudson Way Pl Bldg 3 Ste 530,LAKE OSWEGO,...
Name: Address, Length: 120, dtype: object

In [25]:
addresses[0]

'19 ST ANDREW ST, BULRINGTON, VT, 05401,, United States'

In [79]:
def clean_address(address):
    new_address = re.sub(r'(\,{2,})', ',', address)
    new_address = re.sub(r'(\,)(?!\s+)', ', ', new_address)
    new_address = re.sub(r'(\s+)(-)(\s+)', '-', new_address)
    new_address = re.sub(r'\\n+', ', ', new_address)
    return new_address

In [84]:
clean_address('028 Birchwood Street - 5210, HOUSTON, TX, 77002, US')

'028 Birchwood Street-5210, HOUSTON, TX, 77002, US'

In [85]:
clean_addresses = [clean_address(address) for address in addresses]

In [98]:
data['Address'] = clean_addresses

In [103]:
data.iloc[0, :]

Address            19 ST ANDREW ST, BULRINGTON, VT, 05401, United...
Building_Name                                                    NaN
Building_Number                                                 19.0
City                                                      BULRINGTON
Recipient                                                        NaN
Street_Name                                             ST ANDREW ST
Zip_Code                                                       05401
State                                                             VT
Country                                                United States
Name: 0, dtype: object

In [104]:
data.rename(columns={'Address': 'ADDRESS', 'Building_Name': 'BUILDING_NAME', 'Building_Number': 'BUILDING_NUMBER', 'City': 'CITY', 'Recipient': 'RECIPIENT', 'Street_Name': 'STREET_NAME', 'Zip_Code': 'ZIP_CODE', 'State': 'STATE', 'Country': 'COUNTRY'})

,ADDRESS,BUILDING_NAME,BUILDING_NUMBER,CITY,RECIPIENT,STREET_NAME,ZIP_CODE,STATE,COUNTRY
0,"19 ST ANDREW ST, BULRINGTON, VT, 05401, United...",NaN,19.0,BULRINGTON,NaN,ST ANDREW ST,05401,VT,United States
1,"2574 EAST 23RD STREE, CHATTANOOGA, TN 37404, U...",NaN,2574.0,CHATTANOOGA,NaN,EAST 23RD STREE,37404,TN,United States
2,"5931 W ANGELA RD, MEMPHIS, TN 38120, United St...",NaN,5931.0,MEMPHIS,NaN,W ANGELA RD,38120,TN,United States
3,"3812 MYERS STREET, GREENEVILLE, TN 37743, Unit...",NaN,3812.0,GREENEVILLE,NaN,MYERS STREET,37743,TN,United States
4,"HWY 33 BY-PASS BOX, DYERSBURG, TN 38024, Unite...",NaN,NaN,DYERSBURG,NaN,HWY 33 BY-PASS,38024,TN,United States
...,...,...,...,...,...,...,...,...,...
115,"4520 Mount Olive Highway, Bldg 5, Ste 3321, 78...",Bldg 5,4520.0,NaN,NaN,Mount Olive Highway,78759,NaN,US
116,"202 Sleepy Hollow Pkwy Bldg 2101 Ste 201, ATHE...",Bldg 2101,202.0,ATHENS,NaN,Sleepy Hollow Pkwy,30606-3347,GA,US
117,"Berger Bldg 6 Hamlin Ln Dept RB08, MIDDLE ISLA...",Berger Bldg,6.0,MIDDLE ISLAND,NaN,Hamlin Ln,11953-0102,NY,US
118,"5524 Elmore Ave Bldg 266, PHILADELPHIA, PA, 19...",Bldg 266,5524.0,PHILADELPHIA,NaN,Elmore Ave,19146-2701,PA,US
119,"1172 Hudson Way Pl Bldg 3 Ste 530, LAKE OSWEGO...",Bldg 3,1172.0,LAKE OSWEGO,NaN,Hudson Way Pl,97035-5545,OR,US

In [ ]:
def get_address_spans(address=None, address_component=None, label=None):
    if str(address_component) == 'nan':
        pass
    else:

In [112]:
displacy.render(doc, style='ent')